.footer {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 28px;
  }
}

.footer__links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;

  @media (max-width: $mobile-width-only) {
    background-image: url("/images/icons/stack.svg#footer-divider");
    background-repeat: no-repeat;
    background-position-y: 40px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 42px;
    grid-column: 1/-1;
    padding-bottom: 7px;
  }

  @media (min-width: $desktop-width) {
    grid-column: auto;
    grid-row: 1/-1;
    flex-direction: column;
    padding-top: 11px;
    padding-left: 40px;
    padding-bottom: 15px;
    justify-content: flex-start;
  }
}

.links__logo {
  display: block;
  text-decoration: none;
}

.links__slogan {
  display: block;
  color: $base-black;
  font-size: 14px;
  font-family: "Montserrat", "Arial", sans-serif;
  line-height: 20px;
  margin-top: 4px;

  @media (max-width: $desktop-width-only) {
    display: none;
  }
}

.links__logo:hover .links__slogan,
.links__logo:focus .links__slogan {
  color: $base-primary;
}

.links__logo:active .links__slogan {
  color: $primary-darker;
}

.links__social-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    padding-top: 54px;
  }
}

.social-list__link {
  display: block;
  height: 20px;
  width: 20px;
  margin: 0;
  padding: 10px;


  @media (min-width: $tablet-width) {
    padding-top: 7px;
  }
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: $base-secondary;
  border-radius: 4px;

  path {
    fill: $base-primary;
  }
}

.social-list__link:active {
  background-color: rgba(120, 89, 207, 0.25);
}

.footer__shop-links {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 20px;

  @media (max-width: $mobile-width-only) {
    background-image: url("/images/icons/stack.svg#footer-divider");
    background-repeat: no-repeat;
    background-position-y: 106px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 26px;
    padding-bottom: 15px;
  }
}

.footer__title {
  font-size: 14px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.28px;
  color: $base-primary;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

.shop__link {
  color: $base-black;
  font-size: 12px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
  margin-bottom: 4px;
}

.footer__media-links {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 18px 20px 18px 20px;

  @media (max-width: $mobile-width-only) {
    background-image: url("/images/icons/stack.svg#footer-divider");
    background-repeat: no-repeat;
    background-position-y: 88px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 17px;
    padding-top: 19px;
    padding-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 18px;
  }
}

.media__link {
  color: $base-black;
  font-size: 12px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
  margin-bottom: 4px;
}

.shop__link:hover,
.shop__link:focus,
.media__link:hover,
.media__link:focus {
  color: $primary-lighter;
}

.shop__link:active,
.media__link:active {
  color: $primary-darker;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 20px;

  @media (max-width: $mobile-width-only) {
    background-image: url("/images/icons/stack.svg#footer-divider");
    background-repeat: no-repeat;
    background-position-y: 78px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 13px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-bottom: 15px;
  }
}

.footer__title--contacts {
  margin-bottom: 20px;
}

.contacts__address {
  color: $base-black;
  font-size: 14px;
  font-family: "Montserrat", "Arial", sans-serif;
  line-height: 20px;
  padding-left: 19px;
  margin-bottom: 16px;
  background-image: url("/images/icons/stack.svg#icon-address");
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 2px;
  background-size: 13px 16px;
}

.contacts__phone {
  color: $base-black;
  font-size: 14px;
  font-family: "Montserrat", "Arial", sans-serif;
  line-height: 20px;
  text-decoration: none;
  padding-left: 19px;
  background-image: url("/images/icons/stack.svg#icon-tel");
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 2px;
  background-size: 13px 16px;
}

.contacts__phone:hover,
.contacts__phone:focus {
  color: $primary-lighter;
}

.contacts__phone:active {
  color: $primary-darker;
}

.footer__copyright {
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  gap: 3px;
  justify-content: center;
  align-content: center;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    padding-top: 6px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.copyright__description {
  color: $base-grey;
  font-size: 12px;
  font-family: "Montserrat", "Arial", sans-serif;
  line-height: 16px;
}

.copyright__link {
  color: $base-grey;
  text-align: right;
  font-size: 12px;
  font-family: "Montserrat", "Arial", sans-serif;
  line-height: 16px;
  text-decoration: none;
  display: flex;
  gap: 4px;
  align-self: center;
}

.copyright__link svg {
  display: block;
}

.copyright__link:hover,
.copyright__link:focus {
  color: $base-primary;

  path {
    fill: $base-primary;
  }
}

.copyright__link:active {
  color: $primary-darker;

  path {
    fill: $primary-darker;
  }
}
