.header {
  color: $base-black;
  min-height: 60px;
  display: flex;
  flex-direction: row;
}

.user-nav {
  display: flex;
  flex-direction: row;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    align-self: center;
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    align-self: center;
    padding-right: 35px;
  }
}

.header__logo {
  padding-top: 12px;
  padding-left: 20px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding-top: 22px;
    margin-right: 67px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 24px;
    display: flex;
    gap: 20px;
    margin-left: 16px;
    margin-right: 154px;
  }
}

.user-nav__login,
.user-nav__shop-basket {
  padding: 22px;
  margin: 0;
  max-height: 16px;
  text-decoration: none;
  color: $base-black;
  font-size: 12px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.24px;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 8px;
    padding: 32px 32px 32px 28px;
  }
}

.user-nav__shop-basket {
  @media (min-width: $desktop-width) {
    display: flex;
    gap: 8px;
    padding: 32px 25px 32px 28px;
  }
}

.user-nav__toggle {
  width: 60px;
  height: 60px;
  padding: 22px;
  margin: 0;
  background-color: $base-white;
  position: relative;
  z-index: 2;
  display: block;
  cursor: pointer;
  border: 0;

  @media (min-width: $mobile-width-only) {
    display: none;
  }
}

.user-nav__description {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.user-nav .user-nav__toggle--burger::before {
  content: "";
  position: absolute;
  top: 25px;
  right: 22px;
  width: 16px;
  height: 1px;
  background-color: $base-black;
  box-shadow: 0 4px 0 0 $base-black, 0 9px 0 0 $base-black;
}

.user-nav .user-nav__toggle--cross::before,
.user-nav .user-nav__toggle--cross::after {
  content: "";
  box-shadow: none;
  position: absolute;
  top: 29px;
  right: 22px;
  width: 16px;
  height: 1px;
  background-color: $base-black;
}

.user-nav .user-nav__toggle--cross::before {
  transform: rotate(45deg);
}

.user-nav .user-nav__toggle--cross::after {
  transform: rotate(-45deg);
}


.header__logo-description {
  color: $base-black;
  font-size: 12px;
  font-family: "Montserrat", "Arial", sans-serif;
  line-height: 16px;

  @media (max-width: $desktop-width-only) {
    display: none;
  }
}

.user-nav__login:hover,
.user-nav__login:focus,
.user-nav__shop-basket:hover,
.user-nav__shop-basket:focus {
  @media (min-width: $tablet-width) {
    color: $base-primary;

    path {
      fill: $base-primary;
    }
  }
}

.user-nav__login:active,
.user-nav__shop-basket:active,
.user-nav__toggle:active {
  background-color: $base-secondary;

  @media (min-width: $tablet-width) {
    color: $base-primary;

    path {
      fill: $base-primary;
    }
  }
}
