.page {
  height: 100%;
  font-size: 14px;
  font-family: "Montserrat", "Arial", sans-serif;
  line-height: 20px;
}

.page__body {
  min-height: 100%;
  width: 320px;

  @media (min-width: $zablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    color: $base-black;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  margin: 0 auto;
  background-color: #ffffff;
  color: $base-black;
}
